.product-list {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.product-list article {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.product-list article a {
  display: block;
  padding: 20px;
  text-decoration: none;
  transition: all 0.2;
  box-sizing: border-box;
}

.product-list article a:hover {
  background: #eee;
}

.product-list article p {
  font-size: 16px;
  color: #999;
  margin-bottom: 20px;
  line-height: 1.5;
}

.product-list article .thumbnail {
  width: 64px;
  height: 64px;
  background-color: #333333;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  text-align: center;
  float: left;
  margin: 0 10px 0 0;
}

.product-list article p {
  font-size: 12px;
  line-height: 1.2;
  color: #000;
  font-family: "Helvetica";
  margin: 0 0 5px;
}

.product-list article .title{
  font-weight: bold;
  font-size: 16px;
}

.product-list article .created span:first-child{
  color: #666666;
}

.product-list article .created span{
  color: #ff5500;
}

.product-list article .link{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-list article .description{
  overflow: hidden;
}

.product-list .action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-list .action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-list .action button {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: #666666;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  width: 100%;
}

.product-list .action button[disabled],
.product-list .action button[disabled]:hover {
  opacity: 0.5;
  cursor: default;
}

.product-list .action button:hover {
  opacity: 0.7;
}

.par {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
