.header {
    width: 100%;
    margin: 0 0 15px;
}

.headerTop {
  width: 100%;
  height: 80px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 15px;
}

.headerTop h1 {
  font-size: 25px;
  font-family: "Arial";
  font-weight: bold;
  color: #fff;
}

.headerTop h1 span {
    color: #ff5500;
}
